@{
    @inject QualifiedAgencies.Lookups.ILookupsAppService _ILookupsAppService;
    long? activityTypeId = ViewData["ActivityTypeId"] as long?;
    string activityTypeName = activityTypeId != null ? _ILookupsAppService.GetActivityTypeName(activityTypeId.Value) : L("All");

}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h4 class="card-title">
                    @L("QualifiedAgencies.List") - @activityTypeName
                </h4>
                @if (User.Identity.IsAuthenticated && activityTypeId.HasValue)
                {
                    <a href="javascript:;" data-toggle="modal" data-target="#EntityCreateModal" class="btn btn-success bg-light-success mb-1">
                        <i class="fa fa-plus-square"></i>
                        @L("Datatable.Create")
                    </a>
                }
            </div>
            <div class="card-content">
                <div class="card-body">
                    <table id="tblEntities" class="table table-sm table-striped table-bordered flex-sm-nowrap">
                        <thead>
                            <tr>
                                <th>@L("Name")</th>
                                <th>@L("QualifiedAgencies.Activity")</th>
                                <th>@L("QualifiedAgencies.Category")</th>
                                <th>@L("PhoneNumber")</th>
                                <th>@L("EmailAddress")</th>
                                <th>@L("Fax")</th>
                                <th>@L("QualifiedAgencies.Area")</th>
                                <th>@L("ExpiryDate")</th>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <th>@L("Actions")</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("~/Views/Entities/_CreateModal.cshtml", ViewData)


<div class="modal fade text-left" id="EntityEditModal" tabindex="-1" role="dialog" aria-labelledby="EntityEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
@section scripts
    {

    <partial name="_Script" />
}
